{% extends 'dashboard/base.html' %}
{% load static %}

{% block content %}

<div class="container">
    <div class="alert alert-info shadow-sm p-3 mb-5 bg-body rounded" role="alert">
        <h1>Report for the {{batch_name}} batch</h1>
    </div>

    <div class="shadow p-3 mb-5 bg-body rounded">
        <img src='data:image/png;base64,{{ plot_fig }}' class="img-fluid" alt="Responsive image"><br>
    </div>
    <div class="shadow p-3 mb-5 bg-body rounded">
        <table class="table">
            <tr>
                <th scope="col">Img ID</th>
                <th scope="col">Img Class</th>
            </tr>
            {% for name, val in predictions %}
            <tr>
                <td>{{name}}</td>
                <td>{{val}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>

    <a href="{% url 'dashboard:save_pdf' %}"><button type="button" class="btn btn-primary">Download as
            PDF</button></a><br>
    <a href="{% url 'dashboard:batch' %}">Back</a>
</div>

{% endblock %}