{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="{% static 'css/indexstyles.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
</head>

<body>
    <h2>Report for the {{batch_name}} batch</h2><br><br>

    <h3>Bar Plot</h3>
    <img src='data:image/png;base64,{{ plot_fig }}' class="img-fluid" alt="Responsive image"><br>
    <table>
        <tr>
            <th>Img ID</th>
            <th>Img Class</th>
        </tr>
        {% for name, val in predictions %}
        <tr>
            <td>{{name}}</td>
            <td>{{val}}</td>
        </tr>
        {% endfor %}
    </table>
    <a href="{% url 'dashboard:save_pdf' %}">Download as PDF</a>
    <!-- <script src="{% static 'js/index_upload.js' %}"></script> -->
</body>

</html>