{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="{% static 'css/indexstyles.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
</head>
<body>

  <div class="wrapper">
      <header>Upload Folder</header>
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        
        <input class="file-input" type="text" name="batch_name" placeholder="Batch Name">
        <input class="file-input" type="file" name="files" multiple="true" webkitdirectory="true" directory="true" id="id_photo"/>
        <i class="fas fa-cloud-upload-alt"></i>
        <p>Browse Folder to Upload</p>
        <button type="submit">Upload</button>
      </form>
  </div>
  <!-- <script src="{% static 'js/index_upload.js' %}"></script> -->
</body>
</html>