{% extends 'dashboard/base.html' %}
{% load static %}

{% block content %}
    <link rel="stylesheet" href="{% static 'css/indexstyles.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />

  <div class="wrapper">
    {% if status == 0 %}
      <header>Upload Files</header>
      <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input class="file-input" type="file" name="photo" accept="image/*" required="" id="id_photo">
        <i class="fas fa-cloud-upload-alt"></i>
        <p>Browse File to Upload</p>
        <button type="submit">Upload</button>
      </form>
      <a href="{% url 'dashboard:batch' %}">Upload as batch</a>
    {% else %}
      <img src="{{img}}" width="128" height="128">
      <h3>Prediction: {{prediction}}</h3>
      <a href="{% url 'dashboard:dashboard' %}">Go Back</a>
      <section class="progress-area"></section>
      <section class="uploaded-area"></section>
    {% endif %}
  </div>
  <!-- <script src="{% static 'js/index_upload.js' %}"></script> -->

{% endblock %}