{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="{% static 'css/indexstyles.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
</head>
<body>
  <div class="wrapper">
    <header>Upload Files</header>

    <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      <input class="file-input" type="file" name="photo" accept="image/*" required="" id="id_photo">
      <i class="fas fa-cloud-upload-alt"></i>
      <p>Browse File to Upload</p>
      <button type="submit">Upload</button>
    </form>

    <h3>{{prediction}}</h3>
    <section class="progress-area"></section>
    <section class="uploaded-area"></section>
  </div>
  <!-- <script src="script.js"></script> -->
</body>
</html>